* {
    margin: 0;
    padding: 0;
}

body {
    animation: fadeeffect 1.2s;
    font-family: 'Mulish', sans-serif;
}

@keyframes fadeeffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    background-image: url("./foto/girl\ photo\ new.jpg");
    height: 745px;
    margin-top: 30px;
    font-family: 'Mulish', sans-serif;
}


.navbar {
    text-decoration: none;

}



.navbar.a1 {
    font-size: 30px;
    color: #0F949C;
    margin-right: 100px;
}

.nanvbarloq1 {
    margin-right: -17px;
}



.navbar.a2 {
    color: black;
    font-size: 22px;
    margin-right: 120px;
}

.navbar.a3 {
    color: #0F949C;
    font-size: 16px;
    margin-right: 110px;
}

.navbar.a4 {
    color: #0F949C;
    font-size: 16px;
    border: 1px solid #008D96;
    padding: 13px;
    border-radius: 20px;
    transition: 700ms;
}

.navbar.a4:hover {
    /* color: black; */
    transform: translate(5px, 5px) scale(1.1);
    box-shadow: 1px -2px 8px black;
    background-color: rgba(99, 99, 99, 0.267);
}

.navbar.a5:hover {
    transform: translate(10px, 10px) scale(1.5);
    box-shadow: 1px -2px 8px black;
    background-color: rgba(15, 66, 0, 0.411);
}

.navbar.a5 {
    font-size: 16px;
    border: 1px solid #008D96;
    background-color: #008D96;
    color: white;
    border-radius: 20px;
    padding: 13px;
    margin-left: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    transition: 700ms;
}


.content1 {
    font-size: 46px;
    margin-top: 145px;
    margin-left: -15px;
    margin-bottom: 50px;
}


.a6 {
    text-decoration: none;
    border: 1px solid;
    color: white;
    background-color: #008D96;
    border-radius: 30px;
    padding: 17px;
}

.a6:hover {
    box-shadow: 2px 2px 2px 2px black;

}

.hover1 {
    transition: 900ms;
    width: 13%;
}


.hover1:hover {
    transform: translate(20px);
}

.fa-chevron-right {
    margin-left: 30px;
}

span {
    color: #F5AF15;
}

.part2nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFDFD;
}

.part2basliq {
    font-size: 39px;
}

.part2link {
    text-decoration: none;
    border: 1px solid;
    color: #008D96;
    padding: 10px;
    border-radius: 7px;
    padding: 13px 27px 15px;
    margin-left: 20px;
}

.part2link1 {
    background-color: #00858D;
    border: 1px solid;
    text-decoration: none;
    color: white;
    padding: 13px 27px 15px;
    border-radius: 7px;
}

.as {
    margin-left: 125px;
}

.divpart2fots {
    display: flex;
    justify-content: center;
    background-color: #FAFDFD;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}


.h1 {
    margin-left: 7px;
    font-size: 20px;
}

.h1loq {

    color: #939393;
    margin-top: 19px;
}

img.h1loq {
    margin-left: 80px;
    margin-top: 1px;
}

.z {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.frontentyazi {
    border: 1px solid;
    background-color: #FDEFD0;
    padding: 5px 14px;
    border-radius: 7px;
    margin-top: 18px;
}

.videoimg {
    border: 1px solid;
    color: #00858D;
    background-color: #00858D;
    padding: 13px;
    border-radius: 15px;
}



.p2l2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    padding-top: 15px;
}

.pp2l21 {
    font-size: 18px;
    font-weight: bolder;
}

div.line {
    text-decoration-line: underline;
    width: 5px;
    color: black;
}

.divkurs {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 25px;
    font-family: 'Mulish', sans-serif;
    box-shadow: 1px -2px 8px;
    transition: 800ms;
}

.divkurs:hover {
    box-shadow: 1px -2px 8px;
    transform: scale(1.1);
}

.coursnewpage {
    width: 230px;
    height: 55px;
    margin-top: 25px;
}

.cors {
    transition: 700ms;
    text-decoration: none;
    color: white;
    border: 1px solid;
    background-color: #00858D;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
}

.cors:hover {
    transform: translate(5px, 5px) scale(1.1);
    box-shadow: 1px -2px 8px black;

}

.part3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.baclr {
    background-color: #e3f1f2;
    margin-left: -12px;
    height: 835px;
}

.p3y1 {
    font-size: 40px;
    font-size: 40px;
    padding-bottom: 30px;
    margin-top: 25px;
}

.p3y2 {
    font-size: 20px;
    padding-bottom: 40px;
}

.asaqidiv1 {
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    width: 257px;
    padding: 15px;
    height: 227px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.fa-camera-retro {
    border: 1px solid;
    background-color: #F57170;
    padding: 15px;
    border-radius: 10px;
}

.divcontainerp3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.asaqidiv2 {
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    width: 257px;
    padding: 15px;
    height: 227px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;

}

.div22 {
    margin-top: -24px;
}

.boyphpoto {
    width: 365px;
    height: 433px;
    color: #008D96;
}

p.div1text2 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.377);
}

.foot {

    background-color: #00848E;
    width: 1349px;
    height: 350px;
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 19px;
    background-image: url("./foto/footrimg.png");


}

.text1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.footlog2 {
    margin-left: -16px;
}

ul {
    padding-left: 1.5rem;
}

.fa-arrow-right {
    border: 1px solid;
    background-color: #F5AF15;
    padding: 16px 23px;
    border-radius: 35px;
    margin-left: -69px;
    padding-top: 11px;
    padding-bottom: 17px;

}

.botm {
    padding: 17px 35px;
    border-radius: 40px;
    border: white;
}

.bootomp {
    margin-bottom: 30px;
}

.footdivs {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.footdiv2 {
    display: flex;
    justify-content: space-around;

    margin-top: 140px;
    border-top: 1px solid;
}